.inner-wrap {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#title .Web_txt {
    width: 20%;
    margin-top: 100px;
    margin-bottom: 50px;
}


.image ul {
    display: flex;
    flex-wrap: wrap;
    gap: 200px;
}

.swim,
.schol,
.zakka,
.game {
    width: 500px;
    height: 288px;
}

.txt {
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

.txt_swim {
    font-size: 30px;
    position: absolute;
    top: 580px;
    left: 150px;
    text-decoration: underline;
}

.txt_schol {
    font-size: 30px;
    position: absolute;
    top: 580px;
    right: 175px;
    text-decoration: underline;
}

.txt_zakka {
    font-size: 30px;
    position: absolute;
    top: 1070px;
    left: 157px;
    text-decoration: underline;
}

.txt_game {
    font-size: 30px;
    position: absolute;
    top: 1070px;
    right: 160px;
    text-decoration: underline;
}

/* フッター */
.hutta_back {
    width: 100%;
    margin-top: 150px;
}

.txt h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 60px;
    margin-top: -220px;
    color:#fff;
    font-weight: 200;
}

.txt ul {
    position: absolute;
    display: flex;
    font-size: 20px;
    gap: 30px;
    color: #fff;
    bottom: -70px;
}

#hutta .image ul {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: -70px;
    right: 0;
}